In [20]:
import pandas as pd

In [21]:
data = {'cleanliness': ['Clean', 'Average', 'Somewhat clean', 'Somewhat dirty', 'Dirty'],
        'safety': ['Neutral', 'Very safe', 'Somewhat safe', 'Very unsafe', 'Somewhat unsafe'],
        'satisfaction': ['Very satisfied', 'Neutral', 'Somewhat satisfied', 'Somewhat unsatisfied', 'Very unsatisfied']}

# create a Pandas DataFrame from the dictionary
df = pd.DataFrame(data)

print(df)

      cleanliness           safety          satisfaction
0           Clean          Neutral        Very satisfied
1         Average        Very safe               Neutral
2  Somewhat clean    Somewhat safe    Somewhat satisfied
3  Somewhat dirty      Very unsafe  Somewhat unsatisfied
4           Dirty  Somewhat unsafe      Very unsatisfied

In [22]:
airlines = pd.read_csv('J:/Data science/datacamp/clean data in python/airlines_final.csv',
                      index_col = 'Unnamed: 0')

In [23]:
airlines.head(3)

,id,day,airline,destination,dest_region,dest_size,boarding_area,dept_time,wait_min,cleanliness,safety,satisfaction
0,1351,Tuesday,UNITED INTL,KANSAI,Asia,Hub,Gates 91-102,2018-12-31,115.0,Clean,Neutral,Very satisfied
1,373,Friday,ALASKA,SAN JOSE DEL CABO,Canada/Mexico,Small,Gates 50-59,2018-12-31,135.0,Clean,Very safe,Very satisfied
2,2820,Thursday,DELTA,LOS ANGELES,West US,Hub,Gates 40-48,2018-12-31,70.0,Average,Somewhat safe,Neutral

In [24]:
airlines.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2477 entries, 0 to 2808
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             2477 non-null   int64
 1   day            2477 non-null   object
 2   airline        2477 non-null   object
 3   destination    2477 non-null   object
 4   dest_region    2477 non-null   object
 5   dest_size      2477 non-null   object
 6   boarding_area  2477 non-null   object
 7   dept_time      2477 non-null   object
 8   wait_min       2477 non-null   float64
 9   cleanliness    2477 non-null   object
 10  safety         2477 non-null   object
 11  satisfaction   2477 non-null   object
dtypes: float64(1), int64(1), object(10)
memory usage: 251.6+ KB

In [25]:
airlines.columns

Index(['id', 'day', 'airline', 'destination', 'dest_region', 'dest_size',
       'boarding_area', 'dept_time', 'wait_min', 'cleanliness', 'safety',
       'satisfaction'],
      dtype='object')

In [26]:
print('Cleanliness: ', airlines['cleanliness'].unique(), "\n")
print('Safety: ', airlines['safety'].unique(), "\n")
print('Satisfaction: ', airlines['satisfaction'].unique(), "\n")

Cleanliness:  ['Clean' 'Average' 'Somewhat clean' 'Somewhat dirty' 'Dirty']

Safety:  ['Neutral' 'Very safe' 'Somewhat safe' 'Very unsafe' 'Somewhat unsafe']

Satisfaction:  ['Very satisfied' 'Neutral' 'Somewhat satsified' 'Somewhat unsatisfied'
 'Very unsatisfied']

In [27]:
categories = df.copy()

Create a set out of the cleanliness column in airlines using set() and find the inconsistent category by finding the difference in the cleanliness column of categories.

In [28]:
inconsist = set(airlines['cleanliness']).difference(categories['cleanliness'])
print(inconsist)

set()

In [29]:
print(airlines['cleanliness'].value_counts() , '\n')
print(categories['cleanliness'].value_counts())

Somewhat clean    1175
Clean              885
Average            389
Somewhat dirty      26
Dirty                2
Name: cleanliness, dtype: int64

Clean             1
Average           1
Somewhat clean    1
Somewhat dirty    1
Dirty             1
Name: cleanliness, dtype: int64

In [30]:
# Find the cleanliness category in airlines not in categories
exist_in_air_not_cat = set(airlines['cleanliness']).difference(categories['cleanliness'])

# Find rows with that category
cat_clean_rows = airlines['cleanliness'].isin(exist_in_air_not_cat)

# Print rows with inconsistent category
print(airlines[cat_clean_rows])

Empty DataFrame
Columns: [id, day, airline, destination, dest_region, dest_size, boarding_area, dept_time, wait_min, cleanliness, safety, satisfaction]
Index: []

In [31]:
print(cat_clean,'\n')

NameError: name 'cat_clean' is not defined

In [ ]:
cat_clean_rows[cat_clean_rows == True]

In [ ]:
print(airlines[cat_clean_rows])

In [ ]:
# Find the cleanliness category in airlines not in categories
cat_clean = set(airlines['cleanliness']).difference(categories['cleanliness'])

# Find rows with that category
cat_clean_rows = airlines['cleanliness'].isin(cat_clean)

In [ ]:
# Print rows with inconsistent category
print(airlines[cat_clean_rows],'\n')

In [ ]:
# Print rows with consistent categories only
print(airlines[~cat_clean_rows])

In [ ]:
airlines.columns

In [ ]:
# Print unique values of both columns
print(airlines['dest_region'].unique())
print(airlines['dest_size'].unique())

In [ ]:
airlines['dest_region'].head()

In [ ]:
airlines['dest_region'] = airlines['dest_region'].str.lower()
airlines['dest_region'].head()

In [ ]:
airlines['dest_region'] = airlines['dest_region'].replace({'eur':'europe'})

In [ ]:
airlines[airlines['dest_region'] == 'europe'].head()

In [ ]:
airlines['dest_size'].value_counts()

In [ ]:
airlines['dest_size'] = airlines['dest_size'].str.strip()
airlines['dest_size'].value_counts()

Create the ranges and labels for the wait_type column mentioned in the description

In [ ]:
airlines['wait_min'].head()

In [ ]:
import numpy as np
label_ranges = [0, 60, 180, np.inf]
label_ranges

In [ ]:
label_names = ['short', 'medium', 'long']
label_names

In [ ]:
airlines['wait_type'] = pd.cut(airlines['wait_min'], bins = label_ranges, 
                               labels = label_names)
airlines['wait_type'].head()

In [ ]:
mappings = {'Monday':'weekday', 'Tuesday':'weekday', 'Wednesday': 'weekday', 
            'Thursday': 'weekday', 'Friday': 'weekday', 
            'Saturday': 'weekend', 'Sunday': 'weekend'}

In [ ]:
airlines['day_week'] = airlines['day'].replace(mappings)
airlines['day_week'].head()

In [33]:
airlines.columns

Index(['id', 'day', 'airline', 'destination', 'dest_region', 'dest_size',
       'boarding_area', 'dept_time', 'wait_min', 'cleanliness', 'safety',
       'satisfaction'],
      dtype='object')

In [35]:
airlines.head(2)

,id,day,airline,destination,dest_region,dest_size,boarding_area,dept_time,wait_min,cleanliness,safety,satisfaction
0,1351,Tuesday,UNITED INTL,KANSAI,Asia,Hub,Gates 91-102,2018-12-31,115.0,Clean,Neutral,Very satisfied
1,373,Friday,ALASKA,SAN JOSE DEL CABO,Canada/Mexico,Small,Gates 50-59,2018-12-31,135.0,Clean,Very safe,Very satisfied

#### Remove "Dr.", "Mr.", "Miss" and "Ms." from full_name by replacing them with an empty string "" in that order.

In [ ]:
# Replace "Dr." with empty string ""
airlines['full_name'] = airlines['full_name'].str.replace("Dr.","")

# Replace "Mr." with empty string ""
airlines['full_name'] = airlines['full_name'].str.replace("Mr.","")

# Replace "Miss" with empty string ""
airlines['full_name'] = airlines['full_name'].str.replace("Miss", "")

# Replace "Ms." with empty string ""
airlines['full_name'] = airlines['full_name'].str.replace("Ms.", "")

#### Run the assert statement using .str.contains() that tests whether full_name still contains any of the honorifics.

In [ ]:
assert airlines['full_name'].str.contains('Ms.|Mr.|Miss|Dr.').any() == False

In [ ]:
# Store length of each row in survey_response column
resp_length = airlines['survey_response'].str.len()

# Find rows in airlines where resp_length > 40
airlines_survey = airlines[resp_length > 40]

# Assert minimum survey_response length is > 40
assert airlines_survey['survey_response'].str.len().min() > 40

# Print new survey_response column
print(airlines_survey['survey_response'])

In [40]:
airlines['destination'].value_counts()

LOS ANGELES        185
PARIS-DE GAULLE    126
DENVER              96
HONG KONG           95
LONDON HEATHROW     91
                  ...
WUHAN                4
ONTARIO (CALIF)      3
NEW ORLEANS          3
QINGDAO              3
EUGENE               1
Name: destination, Length: 72, dtype: int64

In [41]:
dest_length = airlines['destination'].str.len()
dest_length

0        6
1       17
2       11
3       11
4        5
        ..
2804    12
2805     7
2806     7
2807    10
2808     7
Name: destination, Length: 2477, dtype: int64

In [51]:
air_dest = airlines[dest_length > 10]
air_dest.head()

,id,day,airline,destination,dest_region,dest_size,boarding_area,dept_time,wait_min,cleanliness,safety,satisfaction
1,373,Friday,ALASKA,SAN JOSE DEL CABO,Canada/Mexico,Small,Gates 50-59,2018-12-31,135.0,Clean,Very safe,Very satisfied
2,2820,Thursday,DELTA,LOS ANGELES,West US,Hub,Gates 40-48,2018-12-31,70.0,Average,Somewhat safe,Neutral
3,1157,Tuesday,SOUTHWEST,LOS ANGELES,West US,Hub,Gates 20-39,2018-12-31,190.0,Clean,Very safe,Somewhat satsified
8,2592,Saturday,AEROMEXICO,MEXICO CITY,Canada/Mexico,Hub,Gates 1-12,2018-12-31,215.0,Somewhat clean,Very safe,Neutral
14,2589,Saturday,INTERJET,GUADALAJARA,Canada/Mexico,Medium,Gates 1-12,2018-12-31,155.0,Somewhat clean,Somewhat safe,Somewhat satsified

In [50]:
airlines['destination'].count()

2477

In [49]:
air_dest['destination'].count()

945