In [1]:
import pandas as pd

### 1- في المثال الأول ، تم استخدام pandas لتحميل بيانات من ملف CSV وتمثيل البيانات باستخدام DataFrame. ثم تم تحديد الأعمدة التي ستستخدم لعملية record linkage.

In [2]:
import pandas as pd

# تحميل البيانات من ملف CSV
data = pd.read_csv('data.csv')

# تحديد الأعمدة المراد استخدامها لل record linkage
columns = ['first_name', 'last_name', 'birthdate', 'address']

# تمثيل البيانات باستخدام pandas DataFrame
df = pd.DataFrame(data, columns=columns)

FileNotFoundError: [Errno 2] No such file or directory: 'data.csv'

### 1-Name matching: Record linkage packages can be used to match records based on name similarity. This is a common use case in healthcare and finance industries where people have multiple records across different databases. Packages like "RecordLinkage" can help match these records by comparing the first name, last name, and other important attributes.

### 2-Address matching: Another common use case for record linkage is address matching. This is useful when trying to merge data from sales or marketing campaigns where addresses are provided by customers. Record linkage packages like "FuzzyWuzzy" use fuzzy logic to match addresses even when there are minor differences in spelling or formatting.

### 3-Text matching: Record linkage packages can also be used to match text data such as email addresses, phone numbers, or other identifiers. Packages like "jellyfish" provide functions for computing string distances which can be useful in identifying matches between similar but not identical strings.

### 4-Cross-platform integration: Record linkage packages can help integrate data from different platforms such as social media, customer relationship management (CRM) systems, or enterprise resource planning (ERP) software. They can help clean up duplicates, missing, or conflicting data so that data analysis or visualization can be done accurately.

####  In the first example, pandas was used to load data from a CSV file and represent the data using a DataFrame. Then, the columns that would be used for record linkage were identified

In [ ]:
import pandas as pd

# تحميل البيانات من ملف CSV
data = pd.read_csv('data.csv')

# تحديد الأعمدة المراد استخدامها لل record linkage
columns = ['first_name', 'last_name', 'birthdate', 'address']

# تمثيل البيانات باستخدام pandas DataFrame
df = pd.DataFrame(data, columns=columns)

####  In the second example, the recordlinkage package was used to analyze and filter the data before conducting record linkage. Index() was used to create an index for the data and isolate similar records into groups.
In the context of record linkage, indexer.index(df) is a method that creates an index for a DataFrame df.

The Index() object from the "recordlinkage" package is created earlier in the code to specify which columns should be used to link records. The block method of the Index() object can be used to create blocks of similar records based on these columns.

After creating the indexer and setting up the blocks, the index() method is called to generate pairs of record indices to compare. This method returns a pandas MultiIndex containing all the possible record pairs within each block.

For example, if we are linking two datasets A and B with 1000 and 2000 records respectively, the index() method generates all possible pairs between A and B (i.e., 2 million pairs) but only compares the pairs within each block, resulting in much fewer comparisons being performed.

In [ ]:
#2- تحليل البيانات وتصفيتها قبل إجراء عملية record linkage:

import recordlinkage
# تحليل البيانات وتصفيتها
indexer = recordlinkage.Index()
indexer.block('last_name')
pairs = indexer.index(df)

#### 3- In the third example, the recordlinkage package was used to compare records and determine if they refer to the same person or entity. Compare() was used to identify the columns to be used for comparison and compute the degree of similarity between records.

In [ ]:
#3- مقارنة السجلات وتحديد ما إذا كانت تشير إلى نفس الشخص أو الكائن:

# مقارنة السجلات
compare = recordlinkage.Compare()

# تحديد الأعمدة التي يجب مقارنتها
compare.string('first_name', 'first_name', method='jarowinkler', label='first_name')
compare.string('last_name', 'last_name', method='jarowinkler', label='last_name')
compare.exact('birthdate', 'birthdate', label='birthdate')
compare.string('address', 'address', method='jarowinkler', threshold=0.85, label='address')

# حساب درجة التطابق بين السجلات
features = compare.compute(pairs, df)

#### 4- In the fourth example, record linkage algorithms were applied to the compared data and similar records were merged. groupby() was used to group together the similar records.

In [ ]:
#4- تطبيق الخوارزميات:
# تطبيق خوارزميات المتاحة لـ record linkage
matches = features[features.sum(axis=1) >= 3]

# توحيد السجلات المتشابهة
deduplicated = matches.groupby(matches.index.get_level_values(0)).first()

#5- تصدير البيانات:

python
# تصدير البيانات إلى ملف CSV
deduplicated.to_csv('deduplicated.csv')

In [14]:
import pandas as pd

In [15]:
restaurants_new = pd.read_csv('J:/Data science/datacamp/clean data in python/restaurantsNew.csv',
                     index_col = 'Unnamed: 0')
restaurants_new.head(3)

,rest_name,rest_addr,city,phone,cuisine_type
0,arnie morton's of chicago,435 s. la cienega blv .,los angeles,3102461501,american
1,art's delicatessen,12224 ventura blvd.,studio city,8187621221,american
2,campanile,624 s. la brea ave.,los angeles,2139381447,american

In [27]:
resturantsNewPairing = pd.read_csv('J:/Data science/datacamp/clean data in python/resturantsNewPairing.csv',
                     index_col = 'Unnamed: 0')
resturantsNewPairing.head(3)

  rest_name                 rest_addr       city       phone cuisine_type
0    kokomo         6333 w. third st.         la  2139330773     american
1    feenix   8358 sunset blvd. west   hollywood  2138486677     american
2   parkway      510 s. arroyo pkwy .   pasadena  8187951001  californian

Instantiate an indexing object by using the Index() function from recordlinkage.
Block your pairing on cuisine_type by using indexer's' .block() method.
Generate pairs by indexing restaurants and restaurants_new in that order.

#### 2 col has the same name (cuisine_type)

In [28]:
import recordlinkage

In [29]:
indexer = recordlinkage.Index()
indexer.block('cuisine_type')
#BLOCKING
pairs = indexer.index(restaurants_new,resturantsNewPairing)

In [30]:
comp_cl = recordlinkage.Compare()

In [31]:
indexer

In [32]:
pairs

MultiIndex([(  0,  0),
            (  0,  1),
            (  0,  7),
            (  0, 12),
            (  0, 13),
            (  0, 20),
            (  0, 27),
            (  0, 28),
            (  0, 39),
            (  0, 40),
            ...
            (284, 63),
            (284, 66),
            (287, 24),
            (287, 63),
            (287, 66),
            ( 40, 18),
            (281, 18),
            (288, 18),
            (302, 18),
            (308, 18)],
           length=3631)

In [33]:
# Create a comparison object
comp_cl = recordlinkage.Compare()

# Find exact matches on city, cuisine_types 
comp_cl.exact('city', 'city', label='city')
comp_cl.exact('cuisine_type', 'cuisine_type', label = 'cuisine_type')

# Find similar matches of rest_name
comp_cl.string('rest_name', 'rest_name', label='name', threshold  = 0.8)

In [34]:
# Get potential matches and print
potential_matches = comp_cl.compute(pairs, restaurants_new, resturantsNewPairing)
print(potential_matches)

        city  cuisine_type  name
0   0      0             1   0.0
    1      0             1   0.0
    7      0             1   0.0
    12     0             1   0.0
    13     0             1   0.0
...      ...           ...   ...
40  18     0             1   0.0
281 18     0             1   0.0
288 18     0             1   0.0
302 18     0             1   0.0
308 18     0             1   0.0

[3631 rows x 3 columns]

In [36]:
potential_matches[potential_matches.sum(axis = 1) >= 3]

       city  cuisine_type  name
0  40     1             1   1.0
1  28     1             1   1.0
2  74     1             1   1.0
3  1      1             1   1.0
4  53     1             1   1.0
8  43     1             1   1.0
9  50     1             1   1.0
13 7      1             1   1.0
14 67     1             1   1.0
17 12     1             1   1.0
20 20     1             1   1.0
21 27     1             1   1.0
5  65     1             1   1.0
7  79     1             1   1.0
12 26     1             1   1.0
18 71     1             1   1.0
6  73     1             1   1.0
10 75     1             1   1.0
11 21     1             1   1.0
16 57     1             1   1.0
19 47     1             1   1.0
15 55     1             1   1.0